@font-face {
    font-family: 'Cuprum';
    font-weight: 400;
    font-style: normal;
    src: local(Cuprum),
         url("../fonts/cuprum.woff") format("woff2"),
         url("../fonts/cuprum.woff2") format("woff");
}

 @font-face {
    font-family: 'Cuprum';
    font-weight: 700;
    font-style: normal;
    src: local(Cuprum bold),
         url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: 'Cuprum';
    font-weight: 400;
    font-style: italic;
    src: local(Cuprum italic),
         url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
     font-family: 'Cuprum';
     font-weight: 700;
     font-style: italic;
     src: local(Cuprum italic),
          url("../fonts/cuprumbolditalic.woff2") format("woff2"),
          url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
     font-family: 'PT Sans';
     font-weight: 400;
     font-style: normal;
     src: local(PT Sans),
          url("../fonts/ptsans.woff2") format("woff2"),
          url("../fonts/ptsans.woff") format("woff");
}

@font-face {
     font-family: 'PT Sans';
     font-weight: 700;
     font-style: normal;
     src: local(PT Sans bold),
          url("../fonts/ptsansbold.woff2") format("woff2"),
          url("../fonts/ptsansbold.woff") format("woff");
}

:root {
     --grey-B5B5B5: #B5B5B5;
     --basic-red: #EE3643;
     --basic-white: #FFFFFF;
     --basic-background: #F1F5F7;
     --basic-grey-nav: #32425C;
     --basic-grey-top-nav: #293449;
     --basic-green: #63A63E;
     --special-yellow: #FFBF47;
     --special-blue: #3BBCE3;
     --special-violet: #DC91D8;
     --special-white-transparent-05: rgba(255, 255, 255, 0.5);
     --special-green: #5FBB2D;
     --special-red: #BA2732;
     --special-black: #161D29;
     --basic-grey-light: #C5C5C5;
     --special-white-transparent-03: rgba(255, 255, 255, 0.3);
     --special-grey-light-opacity-03: rgba(197,197,197, 0.3);
     --special-grey-opacity-03: rgba(169,169,169, 0.3);
     --special-background-content-slider: rgba(0, 0, 0, 0.25);
     --special-red-midl:#CA2C37;
     --basic-cream: #F9F5F0;
     --basic-grey-border: #EAEAEA;
     --special-grey-delete-price: #A9A9A9;
     --special-green-dark: #518534;
     --special-grey-nav-opacity-05: rgba(50,66,92, 0.5);
     --special-yellow-2:#FFD180;
     --special-grey-modal: #F4F4F4;
     --special-background-filter: #F7F3EC;
     --special-black-opacity-01:rgba(0, 0, 0, 0.1);
     --special-black-opacity-03:rgba(0, 0, 0, 0.3);
     --special-black-opacity-015: rgba(0, 0, 0, 0.15);
     --icon-grey: #3D546F;
}

.page {
     height: 100%;
}

.page-body {
     min-width: 940px;
     padding: 0 15px;
     min-height: 100%;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;

     font-family: 'Cuprum', 'Roboto', sans-serif;
     color: var(--basic-black);
     background-color: var(--basic-white);

}

a {
     text-decoration: none;
     color: var(--basic-black);
}

img {
     max-width: 100%;
     height: auto;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

.container {
     width: 940px;
     margin: 0 auto;
}

/*Шапка сайта*/

.header-wrapper {
     background-color: var(--basic-background);
     margin-bottom: 59px;
     position: relative;
}

.header {
     margin-bottom: 60px;
}

.top-menu-wrapper {
     width: 100%;
     background-color: var(--basic-grey-top-nav);
     margin-bottom: 30px;
}

.header__top-menu {
     display: flex;
     align-items: center;
     position: relative;
}

/*Лого*/

.top-menu__logo {
     display: block;
     box-sizing: border-box;
     width: 220px;
     height: 108%;
     background-color: var(--basic-red);
     box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
     padding: 12px 56px 17px;
     position: absolute;
     top: 0px;
}

.top-menu__logo:focus {
     background-color: var(--special-red);
}

/*Поле поиска*/

.wrap-search__input {
     margin-left: 220px;
     display: inline-flex;
     position: relative;
}

.search__input{
     background-color: var(--basic-grey-top-nav);
     border: none;
     width: 269px;
     outline:none;
     padding: 13px 5px 9px 43px;
}

.search__input::placeholder  {
     color: var(--basic-white);
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
}

.wrap-search__input svg {
     position: absolute;
     top:12px;
     left: 16px;
}

.search__input:hover + svg path {
     fill: var(--basic-white);
}

.search__input:focus {
     background-color: var(--basic-white);
     color: var(--basic-black);
       /*Убирает встроенную обводку инпута*/
}

.search__input:focus +  svg path {
     fill: var(--basic-red);
}

/*Юзер меню*/

.top-menu__nav {
     width: 450px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}


.top-menu__nav-item {
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: var(--basic-white);
     background-color: var(--basic-grey-top-nav);
     display: block;
     padding: 11px 8px;
     padding-left: 42px;
     position: relative;
     flex-grow: 1;
     flex-shrink: 0;
}

.top-menu__nav-item svg {
     position: absolute;
     top: 13px;
     left: 20px;
     opacity: 0.3;
}

.top-menu__nav .add {
     background-color: var(--basic-red);
}



.top-menu__nav-item:last-child {
     background-color: var(--basic-green);
     padding:11px 16px 11px 19px;
}

.top-menu__nav-item:focus {
     background-color: var(--special-black);
}

.top-menu__nav-item:hover svg{
     opacity:1;
}

.top-menu__nav-item:active svg{
     opacity: 0.1;
}

.top-menu__nav-item:last-child:hover {
     background-color: var(--special-green);
}

.top-menu__nav-item:last-child:focus {
     color: var(--special-white-transparent-05);
}

/*Контактная информация*/

.header__general-info {
     display: grid;
     grid-template-columns: 320px 320px 300px;
     align-items: center;
     margin-bottom: 29px;
}

.general-info__title {
     font-style: italic;
     font-weight: 400;
     font-size: 16px;
     line-height: 23px;
     color: var(--basic-red);
     text-align: left;
     box-sizing: border-box;
     padding-top: 3px;
     padding-left: 30px;
     margin-bottom: 15px;
}

.general-info__contacts {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
}


.contacts__phone {
     font-weight: 700;
     font-size: 21px;
     line-height: 30px;
     color: var(--basic-red);
     border: 3px solid var(--basic-white);
     width: 270px;
     height: 45px;
     display: block;
     box-sizing: border-box;
     padding: 7px 10px 8px 69px;
     position: relative;
     margin-bottom: 6px;
}

.contacts__phone::before {
     content:'';
     width: 18px;
     height: 19px;
     position: absolute;
     top: 12px;
     left: 36px;
     background: url("../img/small-img/Shape.png") no-repeat;
}



.contacts__adress {
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: var(--basic-grey-nav);
     display: block;
     transform: scale(1, -1);
}

/*Личный кабинет*/
/*Неавторизованный пользователь*/

.general-info__login-user  {
     font-weight: 400;
     font-size: 21px;
     line-height: 21px;
     align-self: flex-start;
     display: flex;
     gap: 10px;
     justify-content: flex-end;

}


.login__exit,
.login__registration {
     display: block;
     box-sizing: border-box;
     padding: 12px 24px;
     margin-top: 15px;
     background-color: var(--basic-white);
}

.login__exit {
     padding-left: 45px;
     position: relative;
}

.login__exit svg {
     position: absolute;
     left: 19px;
}

.login__exit:hover svg path {
     fill: var(--icon-grey);
}

.login__exit:active svg path {
     fill: var(--basic-grey-light);
}

.login {
     display: none;
}
.login__registration:hover,
.login__exit:hover {
     color: var(--basic-red)
}

.login__registration:active,
.login__exit:active {
     color: var(--basic-grey-light)
}


/*Авторизованный пользователь*/

.general-info__authorized-user {
     display: flex;
     flex-direction: column;
}

.wrap-authorized-user {
     font-weight: 400;
     font-size: 21px;
     line-height: 21px;
     background-color: var(--basic-white);

     width: 300px;

     display: flex;

     align-items: center;

     margin-bottom: 10px;
}

.authorized-user__name {
     display: flex;
     justify-content: center;
     align-items: center;
}

.authorized-user__icon {
     padding-top: 12px;
     padding-bottom: 12px;
     padding-left: 15px;
     padding-right: 21px;
}

.autorized-user__nav {
     font-weight: 400;
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-grey-nav);

     display: flex;
     justify-content: center;
}

.autorized-user__nav a:first-child {
     margin-right: 33px;
     position: relative;
}

.autorized-user__nav a:first-child::after {
     content: '';
     width: 6px;
     height: 6px;
     border-radius: 50%;
     background-color: var(--basic-grey-nav);
     position: absolute;
     top: 6px;
     left: 88px;
}

.authorized-user__icon:hover svg path,
.authorized-user__name:hover svg path,
.authorized-user__name:hover {
     fill: var(--icon-grey);
     color: var(--icon-grey);
}

.authorized-user__icon:active svg path,
.authorized-user__name:active svg path,
.authorized-user__name:active {
     fill: var(--basic-grey-light);
     color: var(--basic-grey-light);
}


.autorized-user__nav a:hover {
     color: var(--basic-red);
}

.autorized-user__nav a:active {
     color: var(--basic-grey-light);
}

.hidden {
     display: none;
}


/*Подменю*/


.header__submenu {
     background-color: var(--basic-grey-nav);
}

.submenu__list {
     margin: 0;
     padding: 0;
     display: flex;
     list-style: none;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;

     box-shadow: inset 0 -30px 4px -25px var(--special-black) ;
}
.submenu__item {
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: var(--basic-white);
     text-align: center;

     display: block;
     padding-top: 16px;
     padding-bottom: 20px;
     padding-left: 25px;
     padding-right: 25px;
}




.submenu__item:hover {
     background-color: var(--basic-grey-top-nav);
}

.submenu__item:focus {
     color: var(--special-white-transparent-05);
}

/*Промоблок*/

/*Цветные плашки*/

.promo {
     margin-bottom: 59px;
}

.promo__list {
     list-style: none;
     margin: 0;
     padding: 0;
     display: grid;
     grid-template-columns: repeat(3, 300px);
     gap: 20px;
}

.promo__item {
     background-repeat: no-repeat;

     display: block;
     box-sizing: border-box;
     padding: 21px 23px;
     padding-right: 110px;
     position: relative;
}

.promo__item p{
     font-weight: 700;
     font-size: 24px;
     line-height: 30px;
     color: var(--basic-white);
     margin-top: 0;
     margin-bottom: 13px;
}


.promo__item a {
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     color: var(--basic-white);
     text-transform: uppercase;
     background-color: var(--special-white-transparent-03);

     display: inline-flex;
     justify-content: center;
     align-items: center;

     width: 135px;
     box-sizing: border-box;
     padding-top: 11px;
     padding-bottom: 9px;
     padding-left: 10px;
     padding-right: 10px;
}

.promo__link:hover {
     background-color: var(--basic-grey-light);
}

.promo__link:active {
     background-color: var(--special-grey-opacity-03);
}

.item_yellow {
     background-color: var(--special-yellow);
     background-image: url("../img/icon-promo/materials.png");
     background-position: 214px 30px;
}

.item_blue {
     background-color: var(--special-blue);
     background-image: url("../img/icon-promo/instrument.svg");
     background-position: 195px 35px;
}

.item_violet {
     background-color: var(--special-violet);
     background-image: url("../img/icon-promo/technic.svg");
     background-position: 192px 32px;
}

.item_green {
     background-color: var(--special-green);
     background-image: url("../img/icon-promo/sale.svg");
     background-position: 198px 27px;
}

.promo__item:nth-child(5) {
     background-image: url("../img/icon-promo/delivery.svg");
     background-position: 191px 32px;
}

.label-new::before {
     content: '';
     width: 70px;
     height: 70px;
     background-image: url(../img/small-img/new.png);
     z-index: 20;
     position: absolute;
     top: 0;
     right: 0;
}


/*Кнопки общие стили*/

.button {
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     text-transform: uppercase;
     color: var(--basic-white);
     background-color: var(--basic-red);

     display: inline-flex;
     justify-content: center;
     align-items: center;

     box-sizing: border-box;
     padding-top: 11px;
     padding-bottom: 9px;
     padding-left: 10px;
     padding-right: 10px;
}

.button:hover {
     background-color: var(--special-red-midl);
}

.button:active {
     background-color: var(--special-red);
}

/*Слайд*/

.promo__item-slider {
     grid-column-start: 1;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 4;
     position: relative;
}


.slider {
     list-style: none;
     padding: 0;
     margin: 0;
     width: 620px;
     height: 266px;

}

.slider__content {
     display: none;
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: var(--basic-white);
     box-sizing: border-box;
     padding: 23px 24px 16px 24px;
     background-color:var(--special-background-content-slider);
}

.slider__content_uppercase {
     font-weight: 700;
     font-size: 36px;
     line-height: 36px;
     text-transform: uppercase;
     display: inline-block;
     margin-bottom: 7px;
}

.slider__content p {
     margin:0;

}

.slider__link {
     width: 192px;

     position: absolute;
     bottom: 28px;
     left: 24px;
}


.slider__controls {
     display: flex;
     justify-content:space-between;
     position: absolute;
     width: 590px;
     margin:0 15px;
     top: 116px;
}

.slider__controls button {
     border: none;
     background-color: transparent;
}

.slider__content img {
     background-size: cover;
     width: 620px;
     height: 266px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
}


.current {
     display: block;
}

/*Популярные товары*/

.top-products {
     margin-bottom: 70px;
}

.top-products__header {
     background-color: var(--basic-cream);
     text-transform: uppercase;
     margin-bottom: 20px;
     display: block;
     box-sizing: border-box;
     padding: 29px 28px;
     position: relative;
}

.top-products__header h2 {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     color: var(--basic-grey-nav);
     margin: 0;
}

.top-products__header a {
     width: 192px;
     position: absolute;
     top: 26px;
     right: 14px;
}

.products__list {
     list-style: none;
     margin: 0;
     padding: 0;
     display: grid;
     grid-template-columns: repeat(4, 220px);
     gap: 20px;
}

.products__item {
     list-style: none;
     font-family: 'PT Sans','Roboto', sans-serif;
     width: 220px;
     border: 1px solid var(--basic-grey-border);
     display: flex;
     flex-direction: column;
     justify-content: stretch;

     position: relative;
}

.wrap-popup {
     width: 220px;
     height: 170px;
     box-sizing: border-box;
     margin-bottom: 10px;
     position: relative;
}

.wrap-popup img {
     background-color: var(--basic-white);
     max-width: 100%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform:  translate(-50%,-50%);
     object-fit: contain;
}

.products__item h3 {
     font-weight: 700;
     font-size: 18px;
     line-height: 20px;
     text-align: center;
     color: var(--basic-black);
     text-transform: none;
     margin: 0;
     padding-right: 18px;
     padding-left: 18px;

    flex-grow: 1;
    flex-shrink: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.products__item p:first-of-type {
     font-weight: 700;
     font-size: 17px;
     line-height: 18px;
     text-align: center;
     color: var(--special-grey-delete-price);
     text-transform: uppercase;
     margin-top: 10px;
     margin-bottom: 10px;
}

.products__item p:last-of-type {
     font-weight: 700;
     font-size: 17px;
     line-height: 18px;
     color: var(--basic-white);
     text-transform: uppercase;

     margin: 0;
     margin-left: 45px;
     margin-bottom: 21px;
     padding: 10px 50px 10px 10px;

     display: inline-flex;
     justify-content: center;
     align-items: center;

     border-radius: 2px;
     background-color: var(--basic-red);
     background-image:
          linear-gradient(225deg, var(--basic-white) 25%, transparent 25%),
          linear-gradient(315deg, var(--basic-white) 25%, transparent 25%);
}



.products__popup {
     width: 220px;
     box-sizing: border-box;
     margin-bottom: 10px;
     padding: 38px 42px;
     background-color: var(--basic-white);

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 10px;

     position: absolute;
     top: 0;
     left: 0;
}

.popup_hidden {
     display: none;
}

.products__button {
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     text-transform: uppercase;
     text-align: center;
     width: 135px;
     height: 38px;
     border-radius: 2px;
}
.products__button_buy {
     color: var(--basic-white);
     background-color: var(--basic-green);
     border: none;
     box-shadow: inset 2px -30px 4px -25px var(--special-green-dark);
}
.products__button_to-bookmarks {
     color: var(--basic-grey-nav);
     border: 3px solid var(--basic-green);
     background-color: var(--basic-white);
}

.products__button_buy:hover {
     background-color: var(--special-green);
}

.products__button_buy:active {
     background-color: var(--special-green-dark);
}

.products__button_to-bookmarks:hover {
     border-color: var(--basic-grey-nav);
}
.products__button_to-bookmarks:active {
     border-color: var(--special-grey-nav-opacity-05);
     color: var(--special-grey-nav-opacity-05);
}

.products__item:hover .products__popup {
     display: flex;
}

.products__item:hover {
     box-shadow: 0px 0px 20px 4px var(--special-black-opacity-015);
}

/*Популярные производители*/

.top-makers {
     margin-bottom: 70px;
}

.top-makers__header {
     background-color: var(--basic-cream);
     text-transform: uppercase;
     margin-bottom: 20px;
     display: block;
     box-sizing: border-box;
     padding: 29px 28px;
     position: relative;
}

.top-makers__header h2 {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     color: var(--basic-grey-nav);
     margin: 0;
}

.top-makers__header a {
     width: 192px;
     position: absolute;
     top: 24px;
     right: 13px;
}

.top-makers__list {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: space-between;
}

.top-makers__item {
     box-sizing: border-box;
     border: 1px solid var(--basic-grey-border);
     text-align: center;
     width: 220px;
     height: 145px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
}

.top-makers__item > a > img {
     max-width: 100%;
     object-fit: contain;
}

.top-makers__item:hover {
     box-shadow: 0px 0px 20px 4px var(--special-black-opacity-015);
}

.top-makers__item:active {
     opacity: 0.3;
}


/*Сервисы*/

.services-wrapper {
     background-color: var(--basic-background);
     margin-bottom: 70px;
     padding-top: 64px;
     padding-bottom: 99px;
}

.item__title,
.servises__title {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     text-transform: uppercase;
     text-align: left;
     margin-top: 0;
}

.item__text,
.servises__text {
     font-family: 'PT Sans', 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 24px;
     text-align: left;
}

.item__title {
     color: var(--basic-grey-nav);
}

.item__title,
.item__text {
     position: relative;

}

.box__control {
     font-weight: 700;
     font-size: 21px;
     line-height: 30px;
     background-color: var(--basic-grey-nav);
     color: var(--basic-white);
     display: block;
     width: 240px;
     height: 62px;
     box-sizing: border-box;
     box-shadow: 0px 1px 0px #293449,
                 inset 0px 1px 0px #405069;
     padding: 14px 22px 17px;

}

.input-wrapper {
     position: relative;
}

.input-wrapper::after {
     content: '';
     height: 280px;
     width: 10px;

     background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
     position: absolute;
     top: -50px;
     left: 230px
}

.box__control:hover {
     color: var(--basic-white);
     background-color: var(--basic-grey-top-nav);
}


.input-services:checked + label {
     background-color: var(--basic-white);
     color: var(--basic-grey-nav);
     box-shadow: none;
}

.services__box {
     display: grid;
     grid-template-columns: 300px auto;
     gap: 20px;
     margin-top: 70px;
}

.box__item {
     display: none;
     position: relative;
     padding-right: 250px;
}

.selected {
     display: block;
}

.item_delivery::before {
     content: '';
     background-image: url("../img/delivery.png");
     width: 468px;
     height: 261px;
     position: absolute;
     top:25px;
     right: 0px;

}

.item_guarantee::before {
     content: '';
     background-image: url('../img/garantia.png');
     width: 389px;
     height: 283px;
     position: absolute;
     top: 8px;
     right: 0px;
}

.item_credit::before {
     content: '';
     background-image: url('../img/credit.png');
     width: 465px;
     height: 285px;
     position: absolute;
     top:0;
     right:-10px;
}

.item__button {
     border: none;
     border-radius: 3px;
     width: 195px;
     margin-top: 12px;
}

/*Блок про доставку и контакты*/

.about-contacts {
     display: grid;
     grid-template-columns: 620px 300px;
     gap: 20px;
     margin-bottom: 68px;
}

.contacts__title,
.about__title {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     text-transform: uppercase;
     margin-top: 0;
     margin-bottom: 24px;
}


.contacts__text,
.about__delivery,
.about__text {
     font-family: 'PT Sans', 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 24px;
     text-align: left;
}

.about__delivery {
     margin: 0;
}

.about__text {
     margin-bottom: 26px;
}

.delivery__list {
     list-style: none;
     padding: 0;
     margin: 0;
     margin-top: 5px;
}

.delivery__item {
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     padding-left: 37px;
     margin-bottom: 12px;
     position: relative;
}

.delivery__item::before {
     content: '';
     width: 25px;
     height: 2px;
     background-color: var(--basic-red);
     position: absolute;
     left: 0px;
     top: 10px;
}

.contacts__map {
     margin-top: 20px;
     margin-bottom: 20px;
     background-color: var(--basic-grey-light);
     width: 300px;
     height: 158px;
}

.contacts__button {
     width: 300px;
     border: none;
}

.about__button {
     width: 220px;
     margin-top: 5px;
}

/*Футер*/

.footer {
     background-color: var(--basic-grey-nav);
}

.footer-menu {
     display: grid;
     grid-template-columns: 380px 550px;
     gap: 10px;
     margin-bottom: 35px;
}

.nav__list {
     list-style: none;
     padding:0;
     margin: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.nav__list_orange {
     list-style: none;
     padding:0;
     margin: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-left: 27px;
}

.nav__list .nav__item {
     display: block;
     margin-top: 37px;

}

.footer-menu__logo p,
.nav__item {
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     color: var(--basic-background);
}


.socials__copy a,
.socials__email a,
.nav__item_orange {
     color: var(--special-yellow-2);
}

.nav__item:hover,
.socials__copy a:hover,
.socials__email a:hover,
.nav__item_orange:hover {
     text-decoration: underline;
}

.nav__item:focus,
.nav__item_orange:focus {
     opacity: 0.5;
     text-decoration: none;
}

/*Подменю футер*/

.socials__copyright {
     margin: 0%;
     padding-top: 36px;
     padding-bottom: 34px;
}


.socials-wrapper {
     background-color: var(--basic-grey-top-nav);
}

.socials {
     display: grid;
     grid-template-columns: 280px 320px 140px 140px;
     gap: 20px;
}

.socials__copy a:active,
.socials__email a:active {
     color: var(--basic-red);
     text-decoration: none;
}

.socials address,
.socials p {
     font-weight: 400;
     font-size: 16px;
     line-height: 18px;
     color: var(--basic-white);
}

.socials__list {
     list-style: none;
     padding: 0;
     margin:0;

     display: flex;
     gap: 5px;
     justify-content: center;
     align-items: center;
}

.socials__item {
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: var(--special-black);
}

.socials__item:hover,
.socials__item:active {
     background-color: var(--basic-red);
}

.socials__email {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.socials__copy {
     font-style: normal;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

/*Модальные окна*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Обратная связь*/

.modal-feedback {
     display: none;

     width: 620px;
     height: min-content;
     background-color: var(--basic-white);

     box-shadow: 0px 4px 20px var(--special-black-opacity-015);
     border-top: 7px solid var(--basic-red);


     z-index: 30;

     animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}


.form-wrap {
     display: grid;
     grid-template-columns: repeat(2, 220px);
     column-gap: 20px;
     row-gap: 10px;
     padding: 40px 80px 37px;
}

.modal-feedback__input {
     width: 220px;
     border: 2px solid var(--basic-grey-light);
     box-sizing: border-box;
     padding: 7px 11px;
}

.modal-feedback__input::placeholder {
     font-family: 'PT Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 24px;
     color: var(--special-grey-delete-price);

}

.textarea-wrap {
     grid-column: span 2;
     display: flex;
     flex-direction: column;
}

.input-wrap {
     display: flex;
     flex-direction: column;
}

.textarea-wrap .textarea {
     width: 460px;
     height: 114px;
}

.input-wrap label {
     font-family: inherit;
     font-weight: 400;
     font-size: 18px;
     line-height: 24px;
     margin-bottom: 13px;
}

.box-button {
     background-color: var(--special-grey-modal);
}

.modal-feedback__button {
     background-color: var(--basic-red);
     color: var(--basic-white);
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     text-transform: uppercase;
     border: none;
     width: 460px;
     height: 38px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     margin: 37px 80px;
}

.modal__button_close {
     border: none;
     background-color: transparent;
     position: absolute;
     top: 12px;
     right: 3px;
     cursor: pointer;
}

.modal__button_close::before,
.modal__button_close::after {
     content: "";
     position: absolute;
     width: 28px;
     height: 4px;
     border-radius: 2px;
     background-color: var(--basic-red);
     top: 9px;
     right: 3px;
}

.modal__button_close::before {
     transform: rotate(45deg);
}

.modal__button_close::after {
     transform: rotate(-45deg);
}


/*Модальное окно с картой*/

.modal-map {
     display: none;

     width: 943px;
     height: 449px;
     box-shadow: 0px 4px 20px var(--special-black-opacity-015);
     border-top: 7px solid var(--basic-red);

     z-index: 30;
}

.modal-map iframe {
     border: none;
}


.active {
  display: block;
}

/*Каталог*/

.header-wrapper_catalog {
     margin-bottom: 0;
}

.grid-container {
     width: 940px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(4, 220px);
     grid-template-rows: repeat(2, min-content) max-content min-content;
     gap: 20px;
}


/*Хлебные крошки*/

.breadcrumbs {
    margin-top: 21px;
    margin-bottom: 20px;
}

.breadcrumbs__list {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
}

.breadcrumbs__item  a {
     font-family: 'PT Sans', 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     text-transform: uppercase;

}

.breadcrumbs__item {
     position: relative;
     margin-right: 41px;
}


.breadcrumbs__item::before {
     content: '';
     width: 7px;
     height: 10px;
     background-image: url(../img/small-img/arrow_breadcrumbs.png);
     position: absolute;
     top: 3px;
     right: -25px;
}

.breadcrumbs__item:last-child {
     margin-right: 0;
}

.breadcrumbs__item_current::before {
     display: none;
}

.title-page {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     text-transform: uppercase;
     color: var(--basic-grey-nav);
     background-color: var(--basic-background);
     grid-column: span 4;
     margin: 0;
     display: block;
     box-sizing: border-box;
     padding: 29px 28px;
}


/*Фильтр*/

/*Общие стили фильтра*/

.filter {
     grid-row: span 2;
}

.filter__title {
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     text-transform: uppercase;
     background-color: var(--special-background-filter);
     box-sizing: border-box;
     margin: 0;
     width: 220px;
     height: 38px;
     padding: 10px 18px;
     margin-bottom: 15px;
}

.filter__item,
.filter__checkbox,
.filter__radio  {
     border:none;
     margin:0;
     padding: 0;
}

.filter__subtitle {
     font-family: 'PT Sans','Roboto', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 17px;
     line-height: 30px;
     text-transform: uppercase;
}

.filter__content {
     font-family: 'PT Sans','Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
     line-height: 19px;
     text-transform: uppercase;
}


.filter__button {
     font-family: 'PT Sans','Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     text-transform: uppercase;
     background-color: var(--basic-white);
     border: 1px solid var(--special-grey-modal);
     width: 220px;
     height: 38px;
}

.filter__button:hover {
     background-color: var(--special-grey-modal);
}

.filter__button:active {
     opacity: 0.5;
}



.filter-range__input::placeholder,
.filter-range__input {
     font-family: 'PT Sans', 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 17px;
     line-height: 18px;
     background-color: var(--special-background-filter);
     color: var(--basic-black);
}

.filter-range__input {
     outline: none;
     border: none;
     box-sizing: border-box;
     width: 95px;
     height: 38px;
     padding: 10px;
     text-align: center;
}



/*Поле с ползунками*/

.filter__range {
     width: 220px;
     margin-top: 11px;
}

.range__controls {
     position: relative;
     height: 41px;
     background-color: var(--special-background-filter);
     padding-top: 39px;
     padding-left: 20px;
     padding-right: 20px;
     margin-bottom: 9px;
}

.scale {
     width: 180px;
     height: 2px;
     background-color: var(--basic-grey-light);
}

.bar {
     width: 70%;
     height: 2px;
     background-color: var(--basic-green);
}

.range__controls .toggle {
     position: absolute;
     top: 30px;
     left: 0;
     width: 4px;
     height: 4px;
     padding: 0;
     border: 8px solid var(--basic-white);
     background-color: var(--special-grey-delete-price);
     border-radius: 50%;
     box-shadow: 0 2px 1px 0 var(--basic-grey-light);
}

.range__controls .toggle-min {
     left: 18px;
}

.range__controls .toggle-max {
     left: 140px;
}

.price__controls {
     display: flex;
     justify-content: space-between;
     margin-bottom: 25px;

}

.filter__item {
     position: relative;
}

.filter__item::after {
     content: '';
     width: 220px;
     height: 1px;
     background-color: var(--special-black-opacity-01);
     position: absolute;
}

/*Фильтр с чекбоксами*/

.filter__checkbox {
     margin-top: 16px;
     margin-bottom: 25px;
}

.filter__checkbox-input + .filter__content {
     position: relative;
     display: block;
     cursor: pointer;
     user-select: none;
     margin-top:20px;
     margin-bottom: 20px;
     padding-left: 35px;
}

.filter__checkbox-input + label::before {
     content: '';
     position: absolute;
     width: 18px;
     height: 18px;
     border: 2px solid var(--basic-grey-light);
     border-radius: 3px;
     top: -3px;
     left: 0;
}

.filter__checkbox-input:checked + label::after {
     content: '';
     position: absolute;
     background: url(../img/small-img/icon-checkbox.png) no-repeat;
     opacity: 0.6;
     width: 21px;
     height: 18px;
     top: -4px;
     left: 3px;
}

.filter__checkbox-input:hover + label::before {
     border: 2px solid var(--grey-B5B5B5);
}

.filter__checkbox-input:hover + label::after {
     opacity: 1;
}

.filter__checkbox-input:disabled + label::before {
     opacity: 0.3;
}

.filter__checkbox-input:disabled + label::after {
     opacity: 0.3;
}

.filter__checkbox::after {
     content: '';
     width: 220px;
     height: 1px;
     background-color: var(--special-black-opacity-01);
     position: absolute;
}


.filter__checkbox-input:focus + label,
.filter__checkbox-input:hover + label {
     font-size: 19px;
}


/*Фильтр с радиокнопками*/

.filter__radio-input + .filter__content {
     position: relative;
     display: block;
     cursor: pointer;
     user-select: none;
     margin-top: 22px;
     margin-bottom: 22px;
     padding-left: 35px;
}

.filter__radio-input + label::before{
     content: '';
     width: 19px;
     height: 19px;
     background-color: var(--basic-white);
     border: 4px solid var(--basic-grey-light);
     border-radius: 50%;
     position: absolute;
     top:-4px;
     left: 0px;
}

.filter__radio-input:checked + label::after {
     content: '';
     width: 9px;
     height: 9px;
     background-color: var(--basic-grey-light);
     border-radius: 50%;
     position: absolute;
     top:5px;
     left: 9px;
}

.filter__radio-input:hover + label::before {
     border: 4px solid var(--grey-B5B5B5);
}

.filter__radio-input:hover + label::after {
     background-color: var(--grey-B5B5B5);
}

.filter__radio-input:disabled + label::after,
.filter__radio-input:disabled + label::before {
     opacity: 0.5;
}

.filter__radio-input:focus + label,
.filter__radio-input:hover + label {
     font-size: 19px;
}

.filter__radio {
     margin-bottom: 17px;
}


/*Строка сортировки*/

.sorting {
     background-color: var(--special-background-filter);
     grid-column: 2/-1;
     display: grid;
     grid-template-columns: 220px 360px 80px;
     gap: 20px;
}

.sorting__title {
     margin: 0;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 19px;
}

.sorting__button,
.sorting__title {
     font-family: 'PT Sans','Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     text-transform: uppercase;
     color: var(--basic-black);
}

.wrap-sorting__button {
     display: flex;
     justify-content: space-between;
}

.sorting__button {
     color: var(--special-black-opacity-03);
     text-decoration: underline dotted var(--basic-red);
     display: inline-flex;
     align-items: center;
}

.wrap-sorting__button_arrow {
     display: flex;
     justify-content: space-around;
}

.sorting__button_arrow {
     display: inline-flex;
     align-items: center;
}

.sorting__button:hover {
     color: var(--basic-black);
     text-decoration: underline var(--basic-red);
   }

.sorting__button_current {
     color: var(--basic-red);
     text-decoration: none;
   }

.sorting__button_arrow:hover svg path {
     fill: #000;
}

.sorting__button_arrow-current svg path {
     fill: var(--basic-red);
}


/*каталог товаров*/

.catalog {
    grid-column: 2/-1;
    grid-row: 3/4;

}

 .catalog .products__list {
     list-style: none;
     padding: 0;
     margin: 0;
     display: grid;
     grid-template-columns: repeat(3, 220px);
     /*grid-template-rows: repeat(3, 318px);*/
     gap: 20px;
}

/*Пагинация*/

.pagination {
     grid-column: 2/-1;
     grid-row: span 3;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     margin-top: 32px;
}

.pagination__button {
     background-color: var(--basic-white);
     color:var(--basic-black);
     border: 1px solid var(--basic-grey-border);
     border-radius: 2px;
     font-family: 'PT Sans','Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     text-align: center;
     text-transform: uppercase;
     padding: 10px 15px;
     display: inline-flex;
}

.pagination .pagination__button:last-child {
     padding: 10px 31px;
     margin-right: 0;
}

.pagination__button:hover {
     border: 1px solid var(--basic-grey-light);
}

.pagination__button:active {
     border: 1px solid var(--basic-red);
}

.pagination__button_active {
     background-color: var(--basic-red);
     color: var(--basic-white);
}


/*Описание группы товаров*/


.article-wrapper {
     background-color: var(--basic-background);
}

.article__title {
     font-weight: 400;
     font-size: 30px;
     line-height: 30px;
     text-transform: uppercase;
     padding-top: 93px;
     margin-bottom: 25px;
}
.article__content {
     font-family: 'PT Sans', 'Roboto', sans-serif;
     font-style: normal;
     font-weight: 400;
     font-size: 13px;
     line-height: 24px;
     margin: 0;
     padding-bottom: 69px;
     visibility: hidden;
}



.event-add-to-cart {
     visibility: visible;     /*описание группы товаров становится видимым при добавлении товаров в корзину*/
}

/*Всплывающее окно, добавление товара в корзину*/

.popup-cart {
     display: none;

     width: 620px;
     border-top: 7px solid var(--basic-red);
     background-color: var(--basic-white);
     box-shadow: 0px 4px 20px var(--special-black-opacity-015);

     z-index: 30;
}


.popup-cart__title {
     font-weight: 700;
     font-size: 24px;
     line-height: 30px;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 45px;
     padding-top: 23px;
     padding-bottom: 23px;
     position: relative;
}

.popup-cart__title::before {
     content: '';
     width: 66px;
     height: 66px;
     border-radius: 50%;
     background: var(--basic-green) url(../img/small-img/check_add_card.png) no-repeat 50% 50%;
     position: absolute;
     top: 0px;
     left: 83px;

}

.popup-cart__button_close {
     border: none;
     background-color: transparent;
     position: absolute;
     top: 21px;
     right: 5px;
     cursor: pointer;
}

.box-button {
     display: flex;
     justify-content: center;
     gap: 10px;

}

.popup-cart__button {
     background-color: var(--basic-white);
     color:var(--basic-black);
     border: 1px solid var(--basic-grey-border);
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 18px;
     text-align: center;
     text-transform: uppercase;
     width: 192px;
     height: 38px;
     margin-top: 37px;
     margin-bottom: 37px;
     cursor: pointer;
}

.popup-cart__button_red {
     background-color: var(--basic-red);
     color: var(--basic-white);
}

.popup-cart__button:hover {
     background-color: var(--basic-red);
     color: var(--basic-white);
}

.popup-cart__button:active {
     background-color: var(--special-red-midl);
}

.popup-cart_visible {
  display: block;

  animation: bounce 0.6s;
}


@keyframes bounce {
  0% {
    transform: translate(-50%,-2000px);
  }
  100% {
    transform: translate(-50%,-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-45%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-55%, -50%);
  }
}
